.title-photo {
  background-size: cover;
  background-position: center;
  color: #fff;
}

.photo-catalog {
  background-image: url('../images/Morten_Harket.png');
}

.photo-index {
  background-image: url('../images/banner.png');
}

.online-music {
  p {
    font-weight: bold;
  }
  span {
    margin: 45px 0 40px;
    font-weight: bold;
  }
}

.main {
    font-family: $default-font;
    font-style: normal;
  h1 {
    margin: 0 0 25px;
    text-transform: uppercase;
  }

  span {
    font-size: 18px;
    line-height: 21px;
  }

  div {
    margin: 40px 0 0 0;
    display: flex;



    button {
      display: flex;
      align-items: center;
      color: $main-color;
      border-radius: 5px;
      border: none;
      width: 200px;
      height: 56px;
      margin-right: 35px;
      text-transform: uppercase;


      img {
        width: 16px;
        height: 16px;
        color: $main-color;
        filter: invert(1);
        margin: 0 15px 0 20px;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}

.bg-violet {
  background: #5328A1;
}

.bg-brown {
  background: #95390C;
}
