.footer {
  background: $bg-footer;
  padding: 80px 0 50px;

  font-family: $default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $light-color;


}

.first-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;

  div {

    h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      margin: 0 0 30px 0;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
        margin: 0 0 20px 0;

        a {
          text-decoration: none;
          color: $light-color;

          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }
    img{
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}

.line {
  border-top: 1px solid #EEEEEE;
}

.second-menu {

  padding-top: 50px;
  ul {
    padding: 0;
    display: flex;
    li {
      list-style: none;
      display: inline;
      margin: 0 40px 0 0;

      a {
        text-decoration: none;
        color: $light-color;

        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
  }
}

.footer-icon {
  margin-right: 21px;
}
