body {
  font-family: $default-font;
  // background-color: $main-bg-color;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.default-font {
  font-family: $default-font;
  font-style: normal;
  color: $main-color;
  margin: 0;
  padding: 0;
}


h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

h5 {
  font-weight: normal;
  text-transform: uppercase;
}

.fz-11 {
  font-size: 11px;
  line-height: 13px;
}

.fz-12 {
  font-size: 12px;
  line-height: 28px;
}

.fz-14 {
  font-size: 14px;
  line-height: 16px;
}

.fz-16 {
  font-size: 16px;
  line-height: 19px;
}

.fz-18 {
  font-size: 18px;
  line-height: 21px;
}

.fz-22 {
  font-size: 22px;
  line-height: 26px;
}

.fz-23 {
  font-size: 20px;
  line-height: 23px;
}

.fz-24 {
  font-size: 24px;
  line-height: 28px;
}

.fz-30 {
  font-size: 30px;
  line-height: 35px;
}

.fz-38 {
  font-size: 38px;
  line-height: 45px;
}

.fz-60 {
  font-size: 60px;
  line-height: 70px;
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.grid-column-68 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 68px;
}

.grid-row-25 {
  display: grid;
  grid-row-gap: 25px;
}

.grid-gap-50 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 50px;
}

.grid-gap-75 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 75px;
  justify-content: center;
}

.flex-s-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-0 {
  margin: 0;
}

.m-b-10 {
 margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-70 {
  margin-bottom: 70px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.m-auto {
  margin: auto;
}

.flex-centr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.width-100 {
  max-width: 100%;
  height: auto;
}

.line-h-28 {
  line-height: 28px;
}
