body {
  font-family: $default-font;
  // background-color: $main-bg-color;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-family: $default-font;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  text-transform: uppercase;
  color: $main-color;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: $default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $main-color;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 68px;
}

.grid-row {
  display: grid;
  grid-row-gap: 25px;
}

.flex-s-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
