.header {
  font-family: $default-font;
  font-style: normal;
  font-size: 11px;
  line-height: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.absolute-25 {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 100px;

  img {
    width: 20px;
    height: 17px;
    margin-right: 5px;
  }
  p {
    font-weight: bold;
    color: $main-color;
    text-transform: uppercase;
  }
}

.header-nav {
  margin-right: 300px;

  ul {
    display: flex;
    padding: 0;
    li {
      font-weight: normal;
      color: $neutral-color;
      list-style: none;
      margin-right: 36px;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $neutral-color;

        &:hover {
          color: $main-color;
          cursor: pointer;
        }
        &:active {
          color: $main-color;
        }
      }
        &:last-child {
          margin-right: 0;
        }

    }

  }
}

.dark-input {
  background: #3C3B3D;
  border-radius: 50px;
  border: none;
  padding: 7px 14px;
}


