.content {
  background-color: $main-bg-color;
  padding-top: 100px;
  padding-bottom: 100px;
}


.popular-artist {
  display: flex;

  img {
    width: 55px;
    height: 50px;
    margin-right: 16.5px;
  }
  span {
    font-family: $default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $neutral-color;
  }
  h5 {
    margin-bottom: 5px;
  }
  div {
    margin: auto 0;
  }
}

.time {
  font-family: $default-font;
  font-style: normal;
  font-weight: normal;
  color: $dark-color;
}

.discography-item {
  div {
    img{
      width: 250px;
      height: 250px;
      margin-bottom: -29px;
    }
    a{
      display: block;
      width: 25px;
      height: 25px;
      margin: 0;
      position: relative;
      left: 15px;
      bottom: 35px;
      img{
        width: 25px;
        height: 25px;
        filter: invert(1);
      }
      &:hover {
      opacity: 0.5;
      }
    }
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subscribe-free {
  background: url('../images/subscribe_1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.subscribe-standart {
  background: url('../images/subscribe_2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.subscribe-premium {
  background: url('../images/subscribe_3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.subscribe-content {

  margin: 0 10px 60px;
  div {
    margin-bottom: 40px;
  }
  button {
    margin-bottom: 40px;
  }
}

.subscribe-sum {
  display: flex;
  justify-content: center;

    p {
      padding-right: 11px;
      font-weight: bold;
    }
    span {
        font-weight: normal;
        text-transform: uppercase;
        padding-right: 0;
        margin: 0;
    }
}

.btn-subscribe {
  text-transform: uppercase;
  background: none;
  padding: 20px 83px;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.split {
  width: 1px;
  height: 11px;
  background: #B8B8B8;
}

.description {
  p {
    color: $dark-color;
  }
}

.about-author {
  width: 37%;
  margin-bottom: 45px;
  img {
    width: 20px;
    height: 20px;
  }
  h5 {
    color: $contrast-color;
  }
  p {
    color: $very-dark-color;
  }
}

.bth-grey {
  font-family: $default-font;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  color: $dark-color;
  background: none;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.bth-pink {
  background: #FF4157;
  border: none;
  border-radius: 50px;
  padding: 20px 58px;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  input {
    width: 43%;
    height: 50px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding-left: 20px;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    font-family: $default-font;
    font-style: normal;
    color: $main-color;
  }
  button {
    width: 100%;
    height: 50px;
    background: #34C176;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    font-family: $default-font;
    text-transform: uppercase;
    font-style: normal;
    color: $main-color;
    border: none;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

.similar-artists {
  div {

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
