.content {
  background-color: $main-bg-color;
  padding-top: 100px;
  padding-bottom: 100px;
}


.popular-artist {
  display: flex;

  img {
    width: 55px;
    height: 50px;
    margin-right: 16.5px;
  }
  span {
    font-family: $default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $neutral-color;
  }
  h5 {
    margin-bottom: 5px;
  }
  div {
    margin: auto 0;
  }
}

.time {
  font-family: $default-font;
  font-style: normal;
  font-weight: normal;
  color: $dark-color;
}

.discography-item {
  div {
    img{
      width: 250px;
      height: 250px;
    }
    a{
      display: block;
      width: 25px;
      height: 25px;
      margin: 0;
      position: relative;
      left: 15px;
      bottom: 35px;
      img{
        width: 25px;
        height: 25px;
        filter: invert(1);
      }
      &:hover {
      opacity: 0.5;
      }
    }
  }
}

.subscribe {

}

.subscribe-free {
  background: url('../../images/subscribe_1.png');
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-standart {
  background: url('../../images/subscribe_2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-premium {
  background: url('../../images/subscribe_3.png');
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-content {

}

.subscribe-sum {

}

.btn-subscribe {

}

.split {
  width: 1px;
  height: 11px;
  background: #B8B8B8;
}
