@media (max-width: 1280px) {
  .wrapper {
    max-width: 95%;
  }

  .header {
    justify-content: space-between;
  }

  .header-logo {
    margin-right: 0;
  }

  .header-nav {
    margin-right: 0;
  }

  .online-music {
    text-align: center;
    h1 {
      font-size: 50px;
    }
  }
}

@media (max-width: 1024px) {
  .about-author {
    width: 100%;
  }
}


@media (max-width: 850px) {
  .first-menu {
    flex-direction: column;
  }

  .online-music {
    h1 {
      font-size: 30px;
      line-height: 35px;
    }
    p {
      font-size: 18px;
      line-height: 21px;
    }
    span {
      font-size: 12px;
      line-height: 14px;
    }
  }

  .form {
    width: 100%;
  }
  .grid-gap-40 {
    grid-gap: 40px;
  }
}


@media (max-width: 750px) {
  .second-menu {
    ul {
      flex-direction: column;
      li {
        margin-bottom: 20px;
      }
    }
  }
}


@media (max-width: 650px) {
  .wrapper {
    width: 280px;
  }

  .content{
    h2 {
      font-size: 20px;
      line-height: 23px;
    }
  }

  .m-fz-12 {
    font-size: 12px;
    line-height: 14px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-nav {
    order: 2;
    ul {
      margin-bottom: 0;
      flex-direction: column;
      li {
        margin-bottom: 10px;
      }
        &:last-child {
          margin-bottom: 0;
        }
    }

  }

  .dark-input {
    order: 1;
    width: 80%;
  }

  .form {
    input {
      width: 100%;
    }
  }

  .photo-index {
    background-size: 1156px 765px;
    background-position-x: -176px;
  }

  .padding-264-44 {
    padding: 264px 0 44px;
  }

  .subscribe {
    height: 460px;
  }

  .subscribe-content {
    margin: 0 20px;
    div {
      margin-bottom: 30px;
    }
    h4 {
      font-weight: normal;
    }
    h5 {
      font-weight: normal;
    }
    p {
      margin: 0 0 16px 0;
    }
  }

  .grid-gap-50 {
    grid-template-columns: repeat(auto-fill, 280px);
    grid-gap: 50px;
  }

  .btn-subscribe {
    padding: 20px 65px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .grid-gap-20 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .bth-grey {
    width: 100%;
  }
  .bth-pink{
    width: 100%;
  }

  .photo {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .m-m-b-10 {
    margin-bottom: 10px;
  }

  .m-m-b-44 {
    margin-bottom: 44px;
  }

  .m-m-b-40 {
    margin-bottom: 40px;
  }

  .m-m-b-90 {
    margin-bottom: 90px;
  }

  .m-m-t-20 {
    margin-top: 20px;
  }
  .photo-catalog {
    background-size: 2200px 630px;
    background-position-x: -1374px;
  }

  .padding-295-65 {
    padding: 295px 0 65px;
  }

  .main {
    h1 {
      font-size: 30px;
      line-height: 35px;
    }
    span {
      font-size: 14px;
      line-height: 16px;
    }
    div {
      flex-direction: column;
      button {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  .discography-item {
    div {
      img {
        width: 130px;
        height: 130px;
        margin-bottom: -19px;
      }
      a {
        width: 15px;
        height: 15px;
        left: 5px;
        bottom: 23px;

        img {
          width: 15px;
          height: 15px;
        }
      }
    }
    h4 {
      font-size: 16px;
      line-height: 19px;
    }
    span {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .grid-gap-50-20 {
    grid-template-columns: repeat(auto-fill, 130px);
    grid-row-gap: 50px;
    grid-column-gap: 20px;
  }

  .similar-artists {
    div {
      h4 {
        font-size: 16px;
        line-height: 19px;
      }
      span {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

}
