$default-font: "Roboto", sans-serif;
$main-color:  #FFFFFF;
$light-color: #CACACA;
$neutral-color: #808080;
$dark-color: #8C8C8C;
$very-dark-color: #555555;
$contrast-color: #F89202;
$main-bg-color: #08020D;
$bg-footer: linear-gradient(89.02deg, #5328A1 32.83%, #95390C 81.56%);
