@font-face {
  src: url("../../fonts/Roboto/Roboto.woff2") format("woff2"), url("../../fonts/Roboto/Roboto.woff2") format("woff");
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal; }
@font-face {
  src: url("../../fonts/Roboto/Robotobold.woff2") format("woff2"), url("../../fonts/Roboto/Robotobold.woff") format("woff");
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal; }
body {
  font-family: "Roboto", sans-serif; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.default-font {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  margin: 0;
  padding: 0; }

h1 {
  text-transform: uppercase; }

h2 {
  text-transform: uppercase; }

h3 {
  text-transform: uppercase; }

h5 {
  font-weight: normal;
  text-transform: uppercase; }

.fz-11 {
  font-size: 11px;
  line-height: 13px; }

.fz-12 {
  font-size: 12px;
  line-height: 28px; }

.fz-14 {
  font-size: 14px;
  line-height: 16px; }

.fz-16 {
  font-size: 16px;
  line-height: 19px; }

.fz-22 {
  font-size: 22px;
  line-height: 26px; }

.fz-23 {
  font-size: 20px;
  line-height: 23px; }

.fz-24 {
  font-size: 24px;
  line-height: 28px; }

.fz-30 {
  font-size: 30px;
  line-height: 35px; }

.fz-38 {
  font-size: 38px;
  line-height: 45px; }

.fz-60 {
  font-size: 60px;
  line-height: 70px; }

.font-bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.grid-column-68 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 68px; }

.grid-row-25 {
  display: grid;
  grid-row-gap: 25px; }

.grid-gap-50 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 50px; }

.grid-gap-75 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-template-rows: repeat(auto-fill, 580px);
  grid-gap: 75px; }

.flex-s-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.m-0 {
  margin: 0; }

.m-b-10 {
  margin-bottom: 10px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-b-25 {
  margin-bottom: 25px; }

.m-b-50 {
  margin-bottom: 50px; }

.m-b-70 {
  margin-bottom: 70px; }

.m-b-100 {
  margin-bottom: 100px; }

.m-auto {
  margin: auto; }

.flex-centr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.width-100 {
  max-width: 100%;
  height: auto; }

.line-h-28 {
  line-height: 28px; }

.header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 11px;
  line-height: 13px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px; }
  .header-logo img {
    width: 20px;
    height: 17px;
    margin-right: 5px; }
  .header-logo p {
    font-weight: bold;
    color: #FFFFFF; }

.header-nav {
  margin-right: 300px; }
  .header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }
    .header-nav ul li {
      font-weight: normal;
      color: #808080;
      list-style: none;
      margin-right: 36px; }
      .header-nav ul li a {
        text-decoration: none;
        color: #808080; }
        .header-nav ul li a:hover {
          color: #FFFFFF;
          cursor: pointer; }

.header-input {
  background: #3C3B3D;
  border-radius: 50px;
  width: 278px;
  border: none;
  padding: 7px 14px; }

.footer {
  background: linear-gradient(89.02deg, #5328A1 32.83%, #95390C 81.56%);
  padding: 80px 0 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #CACACA; }

.first-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px; }
  .first-menu div {
    margin-right: 100px; }
    .first-menu div h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      margin: 0 0 30px 0; }
    .first-menu div ul {
      padding: 0; }
      .first-menu div ul li {
        list-style: none;
        margin: 0 0 20px 0; }
        .first-menu div ul li a {
          text-decoration: none;
          color: #CACACA; }
          .first-menu div ul li a:hover {
            cursor: pointer;
            opacity: 0.5; }
    .first-menu div img:hover {
      cursor: pointer;
      opacity: 0.5; }

.line {
  border-top: 1px solid #EEEEEE; }

.second-menu {
  padding-top: 50px; }
  .second-menu ul {
    padding: 0; }
    .second-menu ul li {
      list-style: none;
      display: inline;
      margin: 0 40px 0 0; }
      .second-menu ul li a {
        text-decoration: none;
        color: #CACACA; }
        .second-menu ul li a:hover {
          cursor: pointer;
          opacity: 0.5; }

.footer-icon {
  margin-right: 21px; }

.title-photo {
  background-size: cover;
  background-position: center;
  color: #fff; }

.photo-catalog {
  background-image: url("../../images/Morten_Harket.png");
  padding: 280px 0 76px; }

.photo-index {
  background-image: url("../../images/banner.png");
  padding: 272px 0 248px; }

.main {
  font-family: "Roboto", sans-serif;
  font-style: normal; }
  .main h1 {
    margin: 0 0 25px; }
  .main span {
    font-size: 18px;
    line-height: 21px; }
  .main div {
    margin: 40px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main div button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #FFFFFF;
      border-radius: 5px;
      border: none;
      width: 200px;
      height: 56px;
      margin-right: 35px; }
      .main div button img {
        width: 16px;
        height: 16px;
        color: #FFFFFF;
        -webkit-filter: invert(1);
                filter: invert(1);
        margin: 0 15px 0 20px; }
      .main div button:hover {
        cursor: pointer;
        opacity: 0.5; }

.bg-violet {
  background: #5328A1; }

.bg-brown {
  background: #95390C; }

.content {
  background-color: #08020D;
  padding-top: 100px;
  padding-bottom: 100px; }

.popular-artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .popular-artist img {
    width: 55px;
    height: 50px;
    margin-right: 16.5px; }
  .popular-artist span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #808080; }
  .popular-artist h5 {
    margin-bottom: 5px; }
  .popular-artist div {
    margin: auto 0; }

.time {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #8C8C8C; }

.discography-item div img {
  width: 250px;
  height: 250px; }
.discography-item div a {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0;
  position: relative;
  left: 15px;
  bottom: 35px; }
  .discography-item div a img {
    width: 25px;
    height: 25px;
    -webkit-filter: invert(1);
            filter: invert(1); }
  .discography-item div a:hover {
    opacity: 0.5; }

.subscribe-free {
  background: url("../../images/subscribe_1.png");
  background-repeat: no-repeat;
  background-position: center; }

.subscribe-standart {
  background: url("../../images/subscribe_2.png");
  background-repeat: no-repeat;
  background-position: center; }

.subscribe-premium {
  background: url("../../images/subscribe_3.png");
  background-repeat: no-repeat;
  background-position: center; }

.split {
  width: 1px;
  height: 11px;
  background: #B8B8B8; }

.description p {
  color: #8C8C8C; }

.about-author {
  width: 37%;
  margin-bottom: 45px; }
  .about-author img {
    width: 20px;
    height: 20px; }
  .about-author h5 {
    color: #F89202; }
  .about-author p {
    color: #555555; }

.bth-grey {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  color: #8C8C8C;
  background: none; }
  .bth-grey:hover {
    cursor: pointer;
    opacity: 0.5; }

.bth-pink {
  background: #FF4157;
  border: none;
  border-radius: 50px;
  padding: 20px 58px; }
  .bth-pink:hover {
    cursor: pointer;
    opacity: 0.5; }

/*# sourceMappingURL=style.css.map */